$padding-zero: 0;
$margin-zero: 0;
$box-sizing: border-box;
$list-style: none;
$text-decoration: none;

* {
  padding: $padding-zero;
  margin: $margin-zero;
  box-sizing: $box-sizing;
}

ul, li, ol, a {
  list-style: $list-style;
  text-decoration: $text-decoration;
}